/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.titledPane-color .title{
	 -fx-font-size : 13; 
	 -fx-font-weight: bold; 
}
 


.myAlert{
 	-fx-font-size : 12; 
	-fx-font-weight: bold ;
}

