
.myAlert{
 	-fx-font-size : 12; 
	-fx-font-weight: bold ;
}

.myStackPane{
	-fx-padding: 0;
}

.myTreeView-vbox{
	-fx-padding: 0;
	-fx-spacing: 2px; 
}

.myIcon{ 
	-fx-padding: 5px;
}

.padding5{ 
	-fx-padding: 5px;
}

.topPadding5{ 
	-fx-padding: 5px 0px 5px 0px;
}


.root{
    -fx-font-family: "Monaspace Xenon Var Regular";
    -fx-font-size: 11pt;
   /* -fx-font-family: monospace;*/
   /*   -fx-font-size: 11pt;
  -fx-font-family:"Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);*/
}
TitledPane .title .text{
    -fx-font-size: 15pt;
}
/*
Label{
   -fx-font-family: 'SimHei';
     -fx-font-size: 16pt;
}

Menu{
     -fx-font-family: 'SimHei';
     -fx-font-size: 16pt;
}*/
