
.Icon-color{
	-fx-background-color: #1C94FF;
}

/* 插件管理界面 #000000 */
.myPluginManager-vbox{
	-fx-padding: 5px 0px 5px 0px;
	/* -fx-spacing box 之间的间距 */
	-fx-spacing: 2px; 
	/*-fx-background-color: #2B2B2B; */
}

/* 左侧折叠面板的title 文字颜色, 文字的颜色不能继承，只能给到最终的对象赋值 */
.myTitleTxtActiveColor .title .text{
	  -fx-fill:  #0595ff; 
	 /*  -fx-font-size: 15px;  */
}

.main-background{
	 
}

/* tree view 中文字按钮边框 */
.myTxtBtnBorder{
	-fx-border-color: #1C94FF;
	-fx-border-radius: 3px;
	-fx-padding: 2px 3px 1px 3px;  
	-fx-border-insets: 2 0 1 0;  
}


/* tabpane 选择tab按钮 .tab-down-button */
.control-buttons-tab .arrow {
	-fx-background-color: #1C94FF; 
}
.control-buttons-tab .tab-down-button {
	-fx-background-color: #DCDCDC; 
}



/*
.control-buttons-tab .tab-down-button {
	-fx-background-color:  #333333; 
}*/


/*  搜索框 */
.myFindTextField{  
	-fx-border-color: #5E6060 ;
	-fx-border-radius: 3px; /* 圆角 */
}
 
.label{
	-fx-text-fill: #000000;
}


.myTextField{
	-fx-text-fill: #000000;
	-fx-background-color: #F1F1F1;
    -fx-border-color:transparent transparent #4C708C transparent;
    -fx-border-width: 1 1 1 1;
    -fx-background-radius: 0px; /* 圆角 */
}
.myTextField:hover{
	-fx-background-color: #D3D3D3;
}


 
 
.myComboBox {
	-fx-text-fill: #000000;
	-fx-background-color: #F1F1F1;
 	-fx-border-color:transparent transparent transparent transparent;
    -fx-background-radius: 0px; /* 圆角  #4C708C*/
} 

.myComboBox:hover{
	-fx-background-color: #D3D3D3;
}

.myComboBox:showing{
	-fx-border-color:transparent transparent transparent transparent;
}
.myComboBox:focused{
	-fx-border-color:transparent transparent transparent transparent;
}

/* combo-box 下划线*/
.combo-box .input-line{
 	 -fx-background-color:   #4C708C ;
}

.combo-box .input-focused-line{
 	 -fx-background-color:  transparent;
}

 
.myShellWindow{
 -fx-border-color: #E2E2E2; 
}

/* 子窗口壳的顶部关闭区域*/
.subWindowClose{
	 -fx-background-color:#DDDDDD;
}

.myAlert { 
	-fx-background-color: #EAEAEA;
}

.myAlertBtn{
	-fx-background-color: #1E90FF;
}



MenuButton{
	-fx-background-color: #F4F4F4;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: transparent;
}
 

/* tree 过滤清空按钮 #DDDDDD*/
.myCleanBtn{
	 -fx-background-color: transparent;
     -fx-background-radius: 10px;
	 -fx-padding: 1;
}
.myCleanBtn:hover{
	-fx-background-color:  transparent;
}
