
.Icon-color{
	-fx-background-color: #1C94FF;
}

.main-background{
	 
}




/* tabpane 选择tab按钮 .tab-down-button */
.control-buttons-tab .arrow {
	-fx-background-color: #1C94FF; 
}
.control-buttons-tab .tab-down-button {
	-fx-background-color: #DCDCDC; 
}



/*
.control-buttons-tab .tab-down-button {
	-fx-background-color:  #333333; 
}*/


/*  搜索框 */
.myFindTextField{  
	-fx-border-color: #5E6060 ;
	-fx-border-radius: 3px; /* 圆角 */
}
 
.label{
	-fx-text-fill: #000000;
}


.myTextField{
	-fx-text-fill: #000000;
	-fx-background-color: #F1F1F1;
    -fx-border-color:transparent transparent #4C708C transparent;
    -fx-border-width: 1 1 1 1;
    -fx-background-radius: 0px; /* 圆角 */
}
.myTextField:hover{
	-fx-background-color: #D3D3D3;
}


 
 
.myComboBox {
	-fx-text-fill: #000000;
	-fx-background-color: #F1F1F1;
 	-fx-border-color:transparent transparent transparent transparent;
    -fx-background-radius: 0px; /* 圆角  #4C708C*/
} 

.myComboBox:hover{
	-fx-background-color: #D3D3D3;
}

.myComboBox:showing{
	-fx-border-color:transparent transparent transparent transparent;
}
.myComboBox:focused{
	-fx-border-color:transparent transparent transparent transparent;
}

/* combo-box 下划线*/
.combo-box .input-line{
 	 -fx-background-color:   #4C708C ;
}

.combo-box .input-focused-line{
 	 -fx-background-color:  transparent;
}

 
.myShellWindow{
 -fx-border-color: #E2E2E2; 
}

/* 子窗口壳的顶部关闭区域*/
.subWindowClose{
	 -fx-background-color:#DDDDDD;
}

.myAlert { 
	-fx-background-color: #EAEAEA;
}

.myAlertBtn{
	-fx-background-color: #1E90FF;
}



MenuButton{
	-fx-background-color: #F4F4F4;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: transparent;
}
 

/* tree 过滤清空按钮 #DDDDDD*/
.myCleanBtn{
	 -fx-background-color: transparent;
     -fx-background-radius: 10px;
	 -fx-padding: 1;
}
.myCleanBtn:hover{
	-fx-background-color:  transparent;
}
