/* 空标记 */
.my-tag {
	
}

/* MyAlert.notification  窗口的边框颜色*/
Pane  GridPane {
	-fx-border-color: #4e4e4e;
	-fx-border-width: 3;
}

.window-head-pane {
	-fx-background-color: transparent;
	-fx-border-color: #000000 #000000 #323232 #000000;
}

/* 插件管理界面 */
.myPluginManager-vbox {
	-fx-padding: 5px 0px 5px 0px;
	-fx-spacing: 2px;
	-fx-background-color: #000000;
}

.Icon-color {
	-fx-background-color: #FDA232;
}
/* 顶部 svg 图标的颜色 */
.top-btn-Icon-color {
	-fx-background-color: #E2DFDE;
}

/* 左侧折叠面板的title 文字颜色, 文字的颜色不能继承，只能给到最终的对象赋值 #FDA232 */
.myTitleTxtActiveColor .title .text {
	-fx-fill: #FDA232;
	/*  -fx-font-size: 15px;  */
}

/* tree view 中文字按钮边框 */
.myTxtBtnBorder {
	-fx-border-color: #FDA232;
	-fx-border-radius: 3px;
	-fx-padding: 2px 3px 1px 3px;
	-fx-border-insets: 2 0 1 0;
}

.main-background {
	-fx-background-color: #000000;
}

/* titledPane 背景色*/
.titledPane-color .title {
	-fx-background-color: #000000;
	-fx-border-color: #323232 transparent #323232 transparent;
	-fx-border-width: 1 0 1 0;
}

/* 查找替换面板 */
.myFindPane {
	-fx-background-color: #161616;
}

/* tabpane 选择tab按钮 */
.control-buttons-tab .arrow {
	-fx-background-color: #FDA232;
}

.control-buttons-tab .tab-down-button {
	-fx-background-color: #000000;
}

/*书签*/
.myLineBookMark {
	-fx-background-color: red;
	-fx-background-radius: 10 10 10 10;
}

/* 文本颜色 */
.text {
	-fx-fill: #ffffff;
}

/* 光标所在行背景背景色 */
.styled-text-area .paragraph-box:has-caret {
	-fx-background-color: #323232;
}

/* 光标 */
.caret {
	-fx-stroke: #ffffff;
}

/* CodeArea 基本色 */
.styled-text-area {
	-fx-background-color: #000000;
	-fx-font-size: 14;
}

/* 选中颜色 */
.styled-text-area .selection {
	-fx-fill: #214283;
}

.styled-text-area .caret {
	-rtfx-blink-rate: 100ms;
	-fx-stroke-width: 10.0;
}

.styled-text-area .sql-error {
	-fx-underline: true;
}

.styled-text-area .text.highlight {
	-fx-fill: yellow;
}

/*  菜单  */
.menu-bar {
	-fx-text-fill: #bdcddf;
	-fx-background-color: #000000;
}
/* splitPane 样式 */
.split-pane {
	-fx-background-color: #000000;
}

/* 分割符  */
.split-pane *.split-pane-divider {
	-fx-padding: 0 1 0 1;
	-fx-background-color: #323232;
}

.subWindowClose {
	-fx-background-color: #323232;
}

.transfer-run-btn {
	-fx-background-color: #008000;
}

.transfer-stop-btn {
	-fx-background-color: red;
}

.transfer-btn {
	-fx-border-color: #333333;
}

CheckBoxTreeItem {
	-fx-checked-color: red;
}

.myModalDialog {
	-fx-background-color: #000000;
}

GridPane {
	-fx-background-color: #000000;
}

.myAlert {
	-fx-background-color: #3C3F41;
}

.myAlert  TextField {
	-fx-text-fill: white;
}
/* 子界面按钮颜色 FDA232 */
.myAlertBtn {
	-fx-background-color: #955302;
}

.myAlert Button {
	-fx-background-color: #FDA232;
	-fx-text-fill: white;
	-fx-border-color: #4C708C;
}

.myAlertOkBtn {
	-fx-background-color: #80FF80;
}
/* 按钮中文字的颜色*/
.myAlertOkBtn .text {
	-fx-fill: #17181A;
}
/* 鼠标悬停的时候按钮文字变白*/
.myAlertOkBtn:hover .text {
	-fx-fill: white;
}

/*箭头颜色(菜单按钮的进入子菜单有一个箭头图标)*/
.arrow {
	-fx-background-color: #ffffff;
}
/* 表格头最右侧的控制列隐藏的一个菜单按钮图标*/
.show-hide-column-image {
	-fx-background-color: #BBBBBB;
}

MenuButton {
	-fx-background-color: #000000;
}

MenuItem {
	-fx-background-color: #000000;
}

ContextMenu {
	-fx-background-color: #000000;
}

FlowPane {
	-fx-background-color: #000000;
	-fx-text-fill: white;
}

FlowPane TextField {
	-fx-text-fill: white;
}

/*连接编辑窗口*/
.connectionEditor {
	-fx-background-color: #000000;
}

.connectionEditor  TextField {
	-fx-text-fill: white;
	-fx-background-color: #0C0C0C;
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

.connectionEditor  PasswordField {
	-fx-text-fill: white;
	-fx-background-color: #0C0C0C;
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

.connectionEditor  ChoiceBox {
	-fx-text-fill: white;
	-fx-background-color: #0C0C0C;
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

/* 添加数据库信息界面 按钮*/
.connectionEditor   Button {
	-fx-background-color: #FDA232;
	-fx-text-fill: white;
}

/* 
.control-buttons-tab{
	-fx-visible: true;
} */
/*搜索 替换 按钮*/
.myReplaceBtn {
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

/*  搜索框 */
.myFindTextField {
	-fx-text-fill: white;
	-fx-background-color: #0C0C0C;
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

.myTextField {
	-fx-text-fill: white;
	-fx-background-color: #0C0C0C;
	-fx-border-color: transparent transparent #FDA232 transparent;
	-fx-border-width: 1 1 1 1;
	-fx-background-radius: 1px;
}

.myTextField:hover {
	-fx-background-color: #323232;
}

.myTextField:focused {
	-fx-border-color: #FDA232;
	-fx-border-width: 0 0 1 0;
}

.myBorderColor {
	-fx-border-color: #000000 #000000 #323232 #000000;
}

.menu:hover {
	-fx-background-color: #323232;
}

.menu:showing {
	-fx-background-color: #323232;
}

.menu:selected {
	-fx-background-color: #323232;
}

.menu-item:hover {
	-fx-background-color: #323232;
}

.menu-item:focused {
	-fx-background-color: #323232;
}

.button:hover {
	-fx-background-color: #323232;
}

/* 右键菜单  */
.context-menu {
	-fx-background-color: #292929;
}

.myComboBox {
	
}

.combo-box {
	-fx-border-color: #FDA232;
	-fx-border-width: 0 0 1 0;
	-fx-background-radius: 0;
	-fx-background-color: #0C0C0C;
	-fx-font-size: 12px;
	-fx-text-fill: #ffffff;
	-fx-background-insets: 0;
	-fx-alignment: center;
	-fx-content-display: center;
}

.combo-box>.cell {
	-fx-text-fill: #ffffff;
	-fx-alignment: center;
}

.combo-box:hover {
	-fx-background-color: #323232;
}

.combo-box-popup .list-view {
	-fx-background-color: #000000;
}

.combo-box-popup .list-view .list-cell {
	-fx-background-color: #323232;
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
}

.combo-box-popup .list-view .list-cell:filled:hover {
	-fx-background-color: #494949;
	-fx-text-alignment: center;
}

/* combo-box 下划线*/
.combo-box .input-line {
	-fx-background-color: #323232;
}

.combo-box .input-focused-line {
	-fx-background-color: #323232;
}

.my-jfx-text-field {
	-fx-focus-color: #77acf4;
	-fx-unfocus-color: #00f900;
	-fx-padding: 0.333333em 0 0.333333em 0;
}

/* 滚动条角的颜色 */
.my-tag  .corner {
	-fx-background-color: #000000;
}

.my-tag   .scroll-bar {
	-fx-background-color: #000000;
}

.my-tag  .scroll-bar:horizontal .increment-button, .my-tag  .scroll-bar:horizontal .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 0.0 7.0 0.0;
}

.my-tag  .scroll-bar:vertical .increment-button, .my-tag  .scroll-bar:vertical .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 7.0 0.0 0.0;
}

.my-tag   .scroll-bar .increment-arrow, .my-tag   .scroll-bar .decrement-arrow
	{
	-fx-shape: " ";
	-fx-padding: 0.1em 0.0;
}

.my-tag  .scroll-bar:vertical .increment-arrow, .my-tag  .scroll-bar:vertical .decrement-arrow
	{
	-fx-shape: " ";
	-fx-padding: 0.0 0.1em;
}

.my-tag  .scroll-bar:horizontal .thumb, .my-tag  .scroll-bar:vertical .thumb
	{
	-fx-background-color: #3c3f41;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0.5em;
}

.my-tag  .scroll-bar:horizontal .thumb:hover, .my-tag  .scroll-bar:vertical .thumb:hover
	{
	-fx-background-color: #B9B9B9,
		linear-gradient(to right, derive(#B9B9B9, 95%), derive(#B9B9B9, 10%)),
		linear-gradient(to right, derive(#B9B9B9, 38%), derive(#B9B9B9, -16%));
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0.5em;
}

/**Costumization of Buttons**/
.dialog-pane .button {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-wrap-text: true;
	-fx-effect: dropshadow(three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
	-fx-cursor: hand;
}

.dialog-pane .button:hover {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

/* tree 过滤清空按钮  #363636*/
.myCleanBtn {
	-fx-background-color: transparent;
	-fx-padding: 1;
	-fx-background-radius: 10px;
}

.myCleanBtn:hover {
	-fx-background-color: transparent;
}