/* TabPane */
.tab-pane>*.tab-header-area>*.tab-header-background {
	-fx-background-color: #000000;
}

.tab {
	-fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
	-fx-background-color: #000000;
}

.tab:hover {
	-fx-border-color: transparent transparent #FDA232 transparent;
	-fx-border-width: 2
}

.tab:selected {
	-fx-border-color: transparent transparent #FDA232 transparent;
	-fx-border-width: 2
}

/* 选中tab有一个线, 让它透明*/
.tab-pane:focused>.tab-header-area>.headers-region>.tab:selected .focus-indicator
	{
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: transparent;
}