/*
输入框一般用 myFindTextField
按钮一般用 myAlertBtn
容器一般用 myModalDialog
*/

/* 空标记 */
.my-tag {
	
}

/* MyAlert.notification  窗口的边框颜色*/
Pane  GridPane {
	-fx-border-color: #4e4e4e;
	-fx-border-width: 3;
}

.testBGC {
	-fx-background-color: red;
}
/* 插件管理界面 */
.myPluginManager-vbox {
	-fx-padding: 5px 0px 5px 0px;
	/* -fx-spacing box 之间的间距 */
	-fx-spacing: 2px;
	-fx-background-color: #2B2B2B;
}

.Icon-color {
	-fx-background-color: #1C94FF;
}

.top-btn-Icon-color {
	-fx-background-color: #E2DFDE;
}

/*  button 样式*/
.mybutton {
	
}

/* title 文字颜色, 文字的颜色不能继承，只能给到最终的对象赋值 */
.myTitleTxtActiveColor .title .text {
	-fx-fill: #0595ff;
}

/* tree view 中文字按钮边框 */
.myTxtBtnBorder {
	-fx-border-color: #1C94FF;
	-fx-border-radius: 3px;
	-fx-padding: 2px 3px 1px 3px;
	-fx-border-insets: 2 0 1 0;
}

.main-background {
	-fx-background-color: #2E2E2E;
}

.accordion .content {
	-fx-background-color: #2B2B2B;
	-fx-border-color: #2B2B2B;
}

/* titledPane 背景色*/
.titledPane-color .title {
	-fx-background-color: #2E2E2E;
	-fx-border-color: #4C4C4C transparent #4C4C4C transparent;
	-fx-border-width: 1 0 1 0;
	-fx-text-fill: red;
}

/* tabpane 选择tab按钮 .tab-down-button */
.control-buttons-tab .arrow {
	-fx-background-color: #1C94FF;
}

.control-buttons-tab .tab-down-button {
	-fx-background-color: #323232;
}

.transfer-run-btn {
	-fx-background-color: #008000;
}

.transfer-stop-btn {
	-fx-background-color: red;
}

.transfer-btn {
	-fx-border-color: #333333;
}

CheckBoxTreeItem {
	-fx-checked-color: red;
}

.myModalDialog {
	-fx-background-color: #3C3F41;
}

.dialog-pane {
	-fx-background-color: #3C3F41;
}

DialogPane Button {
	-fx-background-color: #365880;
}

GridPane {
	-fx-background-color: #3C3F41;
}

.myShellWindow {
	
}

/* 子窗口壳的顶部关闭区域*/
.subWindowClose {
	-fx-background-color: #4B4B4B;
}

.myAlert {
	/* -fx-border-color: #4C708C;   #3C3F41*/
	-fx-background-color: #17181A;
}

.myAlert  TextField {
	-fx-text-fill: white;
}

.myAlertBtn {
	-fx-background-color: #365880;
}

.myAlertOkBtn {
	-fx-background-color: #80FF80;
}
/* 按钮中文字的颜色*/
.myAlertOkBtn .text {
	-fx-fill: #17181A;
}

/* 鼠标悬停的时候按钮文字变白*/
.myAlertOkBtn:hover  .text {
	-fx-fill: white;
}

.myAlert   Button {
	-fx-background-color: #365880;
	-fx-text-fill: white;
	-fx-border-color: #4C708C;
}

/*箭头颜色(菜单按钮的进入子菜单有一个箭头图标)*/
.arrow {
	-fx-background-color: #BBBBBB;
}
/* 表格头最右侧的控制列隐藏的一个菜单按钮图标*/
.show-hide-column-image {
	-fx-background-color: #BBBBBB;
}

.menu:hover {
	-fx-background-color: #2F65CA;
}

.menu:showing {
	-fx-background-color: #2F65CA;
}

.menu:selected {
	-fx-background-color: #2F65CA;
}

.menu-item:hover {
	-fx-background-color: #2F65CA;
}

MenuButton {
	-fx-background-color: #3C3F41;
}

MenuItem {
	-fx-background-color: #4E5254;
}

ContextMenu {
	-fx-background-color: #4E5254;
}

FlowPane {
	-fx-background-color: #3C3F41;
	-fx-text-fill: white;
}

FlowPane TextField {
	-fx-text-fill: white;
}

/*连接编辑窗口*/
.connectionEditor {
	-fx-background-color: #3C3F41;
}

.connectionEditor  TextField {
	-fx-text-fill: white;
	-fx-background-color: #373a3c;
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

.connectionEditor  PasswordField {
	-fx-text-fill: white;
	-fx-background-color: #373a3c;
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

.connectionEditor  ChoiceBox {
	-fx-text-fill: white;
	-fx-background-color: #373a3c;
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

.connectionEditor   Button {
	-fx-background-color: #365880;
	-fx-text-fill: white;
	-fx-border-color: #4C708C;
}

/*搜索 替换 按钮*/
.myReplaceBtn {
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

/*  搜索框 */
.myFindTextField {
	-fx-text-fill: white;
	-fx-background-color: #373a3c;
	-fx-border-color: #5E6060;
	-fx-border-radius: 3px;
}

.myTextField {
	-fx-text-fill: white;
	-fx-background-color: #373a3c;
	-fx-border-color: #059BCE;
	-fx-border-width: 0 0 1 0;
}

.myTextField:hover {
	-fx-background-color: #323232;
}

.myBorderColor {
	-fx-border-color: #3C3F41 #3C3F41 #323232 #3C3F41;
}

/* 顶部菜单bar的样式 */
.menu-bar {
	-fx-background-color: #2E2E2E;
	/*  -fx-border-color: #3C3F41 #3C3F41 #323232 #3C3F41; */
}

.button:hover {
	-fx-background-color: #323232;
}

/* 右键菜单  */
.context-menu {
	-fx-background-color: #17191a;
}

.myComboBox {
	
}

.combo-box {
	-fx-border-color: #059BCE;
	-fx-border-width: 0 0 1 0;
	-fx-background-radius: 0;
	-fx-background-color: #373a3c;
	-fx-font-size: 12px;
	-fx-text-fill: #ffffff;
	-fx-background-insets: 0;
	-fx-alignment: center;
	-fx-content-display: center;
}

.combo-box>.cell {
	-fx-text-fill: #ffffff;
	-fx-alignment: center;
}

.combo-box:hover {
	-fx-background-color: #323232;
}

.combo-box-popup .list-view {
	-fx-background-color: #4E5254;
}

.combo-box-popup .list-view .list-cell {
	-fx-background-color: #323232;
	-fx-text-fill: #ffffff;
	-fx-text-alignment: center;
}

/* combo-box 下划线*/
.combo-box .input-line {
	-fx-background-color: #373A3C;
}

.combo-box .input-focused-line {
	-fx-background-color: #373A3C;
}

.combo-box-popup .list-view .list-cell:filled:hover {
	-fx-background-color: #2F65CA;
	-fx-text-alignment: center;
}

.my-jfx-text-field {
	-fx-focus-color: #77acf4;
	-fx-unfocus-color: #00f900;
	-fx-padding: 0.333333em 0 0.333333em 0;
}

/* 滚动条角的颜色 */
.my-tag  .corner {
	-fx-background-color: #3C3F41;
}

.my-tag   .scroll-bar {
	-fx-background-color: #3C3F41;
}

.my-tag  .scroll-bar:horizontal .increment-button, .my-tag  .scroll-bar:horizontal .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 0.0 7.0 0.0;
}

.my-tag  .scroll-bar:vertical .increment-button, .my-tag  .scroll-bar:vertical .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 7.0 0.0 0.0;
}

.my-tag   .scroll-bar .increment-arrow, .my-tag   .scroll-bar .decrement-arrow
	{
	-fx-shape: " ";
	-fx-padding: 0.15em 0.0;
}

.my-tag  .scroll-bar:vertical .increment-arrow, .my-tag  .scroll-bar:vertical .decrement-arrow
	{
	-fx-shape: " ";
	-fx-padding: 0.0 0.15em;
}

.my-tag  .scroll-bar:horizontal .thumb, .my-tag  .scroll-bar:vertical .thumb
	{
	-fx-background-color: #4E5254,
		linear-gradient(to right, derive(#4E5254, 95%), derive(#4E5254, 10%)),
		linear-gradient(to right, derive(#4E5254, 38%), derive(#4E5254, -16%));
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0.5em;
}

.my-tag  .scroll-bar:horizontal .thumb:hover, .my-tag  .scroll-bar:vertical .thumb:hover
	{
	-fx-background-color: #4E5254,
		linear-gradient(to right, derive(#4E5254, 95%), derive(#4E5254, 10%)),
		linear-gradient(to right, derive(#4E5254, 38%), derive(#4E5254, -16%));
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0.5em;
}

.dialog-pane .button {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-wrap-text: true;
	-fx-effect: dropshadow(three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
	-fx-cursor: hand;
}

.dialog-pane .button:hover {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

.check-box:hover  .mark {
	-fx-background-color: #0181e2;
}

/* tree 过滤清空按钮 #373A3C*/
.myCleanBtn {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
	-fx-background-radius: 10px;
	-fx-padding: 1;
}

.myCleanBtn:hover {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}