/* 文本颜色 */
.text {
	-fx-fill: #bdcddf;
}

.findword {
	-rtfx-background-color: #FFF59D !important;
	-fx-fill: #000000;
}

.findparenthesis {
	-rtfx-background-color: #3169ce !important;
	-fx-font-weight: bold;
}

.errorword {
	-fx-fill: red;
	-fx-font-weight: bold;
	-fx-underline: true;
}

.keyword {
	-fx-fill: #C97632;
	-fx-font-weight: bold;
}

.keyword-error {
	-fx-fill: #C97632;
	-fx-font-weight: bold;
	-fx-underline: true;
}

.semicolon {
	-fx-font-weight: bold;
}

.paren {
	-fx-fill: firebrick;
	-fx-font-weight: bold;
}

.bracket {
	-fx-fill: darkgreen;
	-fx-font-weight: bold;
}

.brace {
	-fx-fill: teal;
	-fx-font-weight: bold;
}

.string {
	-fx-fill: yellow;
}

.string-error {
	-fx-fill: yellow;
	-fx-underline: true;
}

.comment {
	-fx-fill: #808080;
}

.comment-error {
	-fx-fill: #808080;
	-fx-underline: true;
}

/* 光标所在行背景背景色 */
.styled-text-area .paragraph-box:has-caret {
	-fx-background-color: #323232;
}

/* 光标 */
.caret {
	-fx-stroke: #ffffff;
}

/* 文本框基本色 */
.styled-text-area {
	-fx-background-color: #2B2B2B;
	-fx-font-size: 14;
}

.styled-text-area .keyword-error {
	-fx-fill: #C97632;
	-fx-font-weight: bold;
	-fx-underline: true;
}

/* 选中颜色 */
.styled-text-area .selection {
	-fx-fill: #214283;
}

.styled-text-area .caret {
	-rtfx-blink-rate: 100ms;
	-fx-stroke-width: 10.0;
}

.styled-text-area .sql-error {
	-fx-underline: true;
}

.styled-text-area .text.highlight {
	-fx-fill: yellow;
}

/* splitPane 样式 */
.split-pane {
	-fx-background-color: #3C3F41;
}

.myMainPane>.split-pane {
	-fx-border-color: red red yellow yellow;
}

/* 分割符  */
.split-pane *.split-pane-divider {
	-fx-padding: 0 1 0 1;
	-fx-background-color: #323232;
}