 /* TabPane */
.tab-pane>*.tab-header-area>*.tab-header-background {
   -fx-background-color:   #323232; 
   
}  

.tab {
  -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
     -fx-background-color: #3C3F41;
     -fx-border-color: transparent #5D6163   transparent transparent ;  
}

.tab:hover  {
	  -fx-background-color: #2F65CA ; 
}

.tab:selected {
    -fx-background-color:  #323232 ; 
    -fx-border-color: transparent transparent #059BCE transparent ;
    -fx-border-width : 2
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: transparent;
}

.tab:selected  .tab-label { 
    -fx-text-fill:   #ccd171; 
}

.tab .tab-label {
    -fx-text-fill:   #bdcddf;
}
