.titledPane-color {
	-fx-color: #2B2B2B;
}

.titledPane-color .title:hover {
	-fx-color: #2B2B2B;
	-fx-background-color: #2B2B2B;
}

/* tree  */
.tree-view, .tree-cell {
	-fx-background-color: #2B2B2B;
	-fx-text-fill: white;
}
/* 自动补全 窗口*/
.auto-comolete  .tree-cell {
	-fx-background-color: #323232;
	-fx-text-fill: white;
}

.transferDataTree .tree-cell {
	-fx-background-color: #3C3F41;
	-fx-text-fill: white;
}

/*check box tree*/
.clipped-container {
	-fx-color: #2B2B2B;
}

.check-box .box {
	-fx-color: #2B2B2B;
}

.check-box .box:hover {
	-fx-color: #2B2B2B;
}

/*  选中的颜色 */
.tree-cell:selected {
	-fx-font-weight: bold;
	-fx-background-color: #164b72;
}

/* 自动补全 窗口*/
.auto-comolete .tree-cell:selected {
	-fx-font-weight: bold;
	-fx-background-color: #164b72;
}

.tree-cell:hover {
	-fx-background-color: #2F65CA;
}

.tree-cell {
	-fx-padding: 0.5em 0em 0.5em 0em;
}

.tree-cell:sub-tree-item {
	-fx-padding: 0.25em;
}

.tree-cell .tree-disclosure-node .arrow {
	-fx-background-color: #ADADAD;
}